.border{
    border-style: solid;
}


.edit {
    background-image:url(../images/edit.png);
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    
    }

.EventList {
    background-image:url(../images/phone-case.png);
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
}
